* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	font-family: "YuMincho +36p Kana","游明朝体+36ポかな";
	line-height:1.5;
}

.header{
	background-color: rgba(255,255,255,0.7);
	width: 100%;
	/* height: 80px; */
	position: fixed;
	z-index: 3;/* 重なり */
}
.header-row{

}
.logo{
	width:15%;
}

.change{
	margin-bottom:20%;
}
.choi{/* self.apプレビュー下 */
	margin-bottom:5%;
}

.right-margin{
	margin-right:10%;
}
.left-margin{
	margin-left:10%
}
.left-margin-2{
	margin-left:20%
}

.some-center{
	display: flex;
	justify-content: center;
	align-items: center;
}
.subject{/* 順次の主題 */
	font-size:4vw;
}

.p-center{
	text-align:center;
}
.flex-center{
	text-align: center;
	margin:10px;
}
.flex-right{
	display: flex;
	justify-content: flex-end;
	margin:10px;
}
.img{
	width:100%;
}
.img-60{
	width: 60%;
	margin: 0 20% 0 20%;
}
.img-30{
	width: 31%;
}


.slider {
	position:relative;
	z-index: 1;
	/*↑z-indexの値をh1のz-indexの値よりも小さくして背景に回す*/
	/* height: 100vh; */
	/*スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
}

.slider-item {
	width: 100%;
	/*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
	/* height:100vh; */
	/*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
	background-repeat: no-repeat;/*背景画像をリピートしない*/
	background-position: center;
	/*背景画像の位置を中央に*/
	background-size: cover;
	/*背景画像が.slider-item全体を覆い表示*/
}



/*infoエリアをはじめは非表示*/
#info{
	display: none;
}
#info2{
	display: none;
}
#info3{
	display: none;
}
#info4{
	display: none;
}

.modal-open:hover{
	opacity: 0.8; filter: white;
	-webkit-transition: all .3s; transition: all .3s;
}
/*モーダルの横幅を変更したい場合*/
.modaal-container{
    max-width: 600px;
}

/*モーダルのボタンの色を変更したい場合*/
.modaal-close:after,
.modaal-close:before{
	background:#ccc;
}

.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before{
	background:#666;
}


.how-grid{
	display: grid;
	margin-left: 5%;
	margin-right: 5%;
	gap:3%;
	grid-template-columns:1fr 1fr 1fr 1fr;
}
.how-grid-item{
	text-align:center;
}



.btntextchange{ /*テキストの基点とするためrelativeを指定*/
	position: relative;
    /*ボタンの形状*/
	border: 0px solid #050505;
	background:#F5F2F2;
	/* border-radius:5px; */

	padding: 20px;
    text-align: center;
	display: inline-block;
    text-decoration: none;
    color: #050505;
    outline: none;
    /*アニメーションの指定*/
    transition: all .2s;
}
.btn-toppage{
	border: 1px solid #050505;
	min-width:250px;
}
.btn-one{
	min-width: 100%;
	padding:40px;
	margin-bottom:30%;
}
.btn-move{
	min-width:10%;
	padding: 15px;
	border: none;
	border-radius:25px;
}

/*hoverした際の変化*/
.btntextchange:hover{
	background:#050505;
	color:#fff;
}
.btntextchange:focus{
	background:#050505;
	color:#fff;
}
.btn-sei{
	min-width:10%;
	padding: 1px 30px 1px 30px;
	border: none;
	transition: all .1s;
	margin:0 3% 7% 0;
}

.request-grid{
	display: grid;
	margin-left: 5%;
	margin-right: 5%;
	gap:3%;
	grid-template-columns:1fr 1fr 1fr;
}
.request-grid-item{
	padding:2vw 2vw 7vw 2vw;
	background-color: rgb(247, 246, 246);
	border: solid 1px rgb(207, 206, 206);
}


.heart{
	width: 120px;
	height: 120px;
	position:absolute;
	z-index: 30;
}
.heart::before{
	content: "";
	position: absolute;
	left: 24vw; /* x位置 */
	top: 1.5vw; /* y位置 */
	width: 3vw; /* 幅 */
	height: 5vw; /* 高さ */
	background: #bfbebe; /* 色 */
	border-radius: 100px 80px 0 0; /* 丸み */
	transform: rotate(-45deg); /* 角度調整 */
	transform-origin: 0 100%; /* 回転の基準点 */
}
.heart::after {
	content: "";
	position: absolute;
	left: 21vw; /* x位置 */
	top: 1.5vw; /* y位置 */
	width: 3vw; /* 幅 */
	height: 5vw; /* 高さ */
	background: #bfbebe; /* 色 */
	border-radius: 80px 100px 0 0; /* 丸み */
	transform: rotate(45deg); /* 角度調整 */
	transform-origin: 100% 100%; /* 回転の基準点 */

}
.heart2::before{
	left:55vw
}
.heart2::after{
	left:52vw
}
.heart3::before{
	left:86vw;
}
.heart3::after{
	left:83vw;
}
.heartred::before{
	background-color: rgb(251, 72, 72);
}
.heartred::after{
	background-color: rgb(251, 72, 72);
}


li{
	list-style:none;
}

.works-hover{
	transition:all 0.2s;
}
.works-hover:hover{
	transform: translateY(-20px);
	border-radius:0 10%;
	box-shadow:0 3px 10px 0 #333;
	opacity:0.8;
	cursor:pointer;
}
.works-box{
	height:23vw;
	/* width:25%; */
	text-align:center;
	background-color: #d8d9c7
}
.twitter-center{
	margin:0 25% 20% 25%;
}












.border{
	padding:5%;
	border-bottom:3px solid rgb(100,100,100);
	margin-left: 3%;
	margin-right:3%;
	margin-bottom: 3%;
}

.btn-last{
	margin-top: 5%;
}

#dragDropArea{
	background-color: #f4f4f4;
	margin: 2% 20% 5% 20%;
	padding: 10px;
	border: #ddd dashed 2px;
	min-height: 200px;
	text-align: center;
}
#dragDropArea p{
	color: #999;
	font-weight: bold;
	font-size: 14px;
	font-size: 1.4em;
}
#dragDropArea .drag-drop-buttons{
	margin-top: 20px;
	font-size: 12px;
	font-size: 1.2em;
}
.drag-drop-buttons input{
	margin: auto;
}

.tarea{
    display: inline-block;
    width: 60%;
    padding: 10px;
    border: 1px solid #000;
    box-sizing: border-box;
    background: white;
    margin: 2% 20% 15% 20%;
    line-height: 1.5;
    height: 6em;
}

label{
	display: block;
    text-align: left;
    /* width: 150px; */
	margin-left:20%;
	/* margin-bottom: 2%; */
}
.info-label{
	width:100%;
	display: flex;
	justify-content: flex-end;
	margin-top:15%;
	margin-bottom:35%;
}
.info-box{
	width:60%;
	margin-bottom:3%;
}
.info-grid{
	display: grid;
	margin-left: 5%;
	margin-right: 5%;
	gap:3%;
	grid-template-columns:3fr 7fr;
}
.info-grid-item{
}

.choice-figure{
	width:150px;
	height:150px;
	padding:5%;
	background-color: rgb(141, 125, 125);
	border-radius:25px;
}
.c-blue{
	background-color: rgb(35, 98, 222);
}
.c-red{
	background-color: rgb(164, 28, 28);
}
.c-pink{
	background-color: rgb(210, 38, 182);
}
.c-orange{
	background-color: rgb(217, 104, 34);
}
.c-yellow{
	background-color: rgb(254, 254, 30);
}
.c-yellowgreen{
	background-color: rgb(141, 212, 18);
}
.c-sky{
	background-color: rgb(102, 202, 236);
}
.c-bluegreen{
	background-color: rgb(21, 203, 176);
}
.c-violet{
	background-color: rgb(116, 53, 225);
}
.c-cha{
	background-color: rgb(120, 68, 23);
}
.c-white{
	background-color: rgb(255, 255, 255);
	border:solid 1px #999;
}
.c-black{
	background-color: rgb(0, 0, 0);
}
.c-gray{
	background-color: rgb(91, 91, 91);
}
.c-gold{
	background-color: rgb(255, 221, 0);
}
.c-silva{
	background-color: rgb(102, 112, 113);
}





.tone-img{
	width:23%;
	box-sizing: border-box;
	transition: all 1s ease-in-out;
}

.choice-block-parent{
	display: flex;
	flex-wrap: wrap;
}
.choice-block-child{
	box-sizing:border-box;
	/* border: 10px solid white; */
	margin:3%;
	flex-basis: 150px;  /* //200pxの要素が3つ並ぶと600pxを超え、flex-wrapが動作します */
	padding: 10px;
}
/* .tone-img:active{
	width:30%;
	transition: all 1s ease-in-out;
	outline: none;
} */

.chat-grid{
	display: grid;
	grid-template-columns:1fr 1fr;
}
.chat-grid-item{

}
.chat-top{
	padding-top: 10%;
}
.p-chat{
	display: flex;
	justify-content: flex-end;
	padding:3px;
	background-color: #999;
}
.p-syokunin{
	padding:3px;
	margin: 15px;
	background-color: #999;
}


@media (min-width:766px){
}




@media (max-width:766px){/* 作品陳列　パソコン用を消す　スマホ */
	.chat-grid{
		grid-template-columns:1fr;
	}
}
div figure{
    display: inline-block;
}

.canvas{
	position: absolute;
    box-sizing: content-box;
}
.canvas-wrap{
	width: 600px;
	height:800px;
	max-width: 100%;
	position: relative;
	padding: 0;
	box-sizing: content-box;
}
.canvas_warp:before{
	content:"";
	display: block;
	padding-top: 50%;
}







html.is-dragging .upload{
	pointer-events: none;
  }
  
  /* body{
	font-family:'Noto Sans JP', MyYuGothicM, YuGothic, 'Helvetica Neue',
	'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  } */
  
  .wraper{
	position: fixed;
	top: 0;
	left: 0;
	/* z-index: 10; */
	width: 1000px;
	height: 700px;
	touch-action: none;
	user-select: none;
  }
  
  .move-canvas{
	width: 1000px;
	height: 700px;
	touch-action: none;
	user-select: none;
  }
  
  .upload{
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	height: 90px;
	background: #eee;
	transition: .2s ease;
	cursor: pointer;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  .upload-item{
	display: none;
  }
  
  .upload-text{
	font-size: 18px;
	font-weight: 500;
	user-select: none;
  }
  
  .upload:focus{
	color: #fff;
	background: #81cf7a;
  }
  
  @media screen and (min-width:768px){
	.upload:hover{
	  color: #fff;
	  background: #81cf7a;
	}
  }
  

.draw-area-index{
	z-index: 100;
}